@font-face {
  font-family: "Urban";
  src:
    local("BonzerSF"),
    url("Bonzer - San Francisco.ttf") format("truetype");
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 11vw;
  }

  #title {
    align-items: flex-end;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    font-size: 12vw;
  }

  #title {
    align-items: flex-end;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 90pt;
  }

  #title {
    align-items: center;
  }
}

body {
  background-color: #011b28;
  color: #011b28;
}

#title {
  display: flex;
}

h1 {
  font-family: Urban;
  text-transform: uppercase;
  color: #eaf1c8;
  margin-top:-20px;
  margin-bottom: -20px;
}

h2 {
  font-family: Urban;
  font-size: 30pt;
  color: #243663;
}
#header_bars{
  mask:
     url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" preserveAspectRatio="xMidYMid"><circle cx="100" cy="100" r="80" fill="black"/></svg>') 0/100% 100%,
     linear-gradient(#fff,#fff);
     mask-composite:exclude;
}

#header_bars .col{
  height:40vw;
  display:flex;
  flex-direction: column;
}

#header_bars .col div{
  flex-grow: 1;
}

#header_bars .s1{
  border-bottom-left-radius:3em;
}
#header_bars .s5{
  border-top-right-radius:3em;
}
#header_hole{
  margin-top:-40vw;
  height: 40vw;
}


.c1, .c2, .c3, .c4, .c5{
  border-top-right-radius: 3em;
  border-bottom-left-radius: 3em;
  margin-top: 2em;
  padding: 0.5em 1em 2em 1em;
}

.s1, .s2, .s3, .s4, .s5{
  height: 1em;
}

.subhead{
  color: #eaf1c8;
  font-size: 20pt;
}

.c1, .s1{
  background-color: #a1d5b1;
}
.c2, .s2{
  background-color: #2daf91;
}
.c3, .s3{
  background-color: #f1a527;
}
.c4, .s4{
  background-color: #dd4119;
}
.c5, .s5{
  background-color: #8d0527;
}

#header_image {
  max-height: 50vw;
}

.themed {
  text-transform: uppercase;
  font-family: Urban;
}
